<a href="https://colab.research.google.com/github/SamSinatra/CS661/blob/main/MeshramSPythonAssignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions and Methods Homework - CS661 Python Programming 
Assignment - 2

Total points  - 50

*5 points for optimized code*

Answer the following questions, download the .ipynb file and submit the file.

    * Name :
    * Sesion :
    * CRN :

## Question #1 
Points : 5


One lap around a running track is exactly 0.25 miles. Write the function miles_to_laps() that takes a number of miles as an argument and returns the number of laps. Complete the program to output the number of laps.

Output each floating-point value with two digits after the decimal point, which can be achieved as follows:
print('{:.2f}'.format(your_value))

    Ex: If the input is:1.5
    the output is:6.00
    Ex: If the input is:2.2
    the output is:8.80
    Your program must define and call the following function:
            def miles_to_laps(user_miles)

In [ ]:
# define your function here:
def function_name():
  #write code here

In [ ]:
if __name__ ==' __main__':
    #call your function here!!

33.49333333333333

## Question #2
Points : 5


Write a function that checks whether a number is in a given range (inclusive of high and low)

In [ ]:
def ran_check(num,low,high):
    #Write code here!

In [ ]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

Write a function that checks whether a number is in a given range return a boolean:

In [ ]:
def ran_bool(num,low,high):
    #Write code here!

In [ ]:
ran_bool(3,1,10)

True

## Question #3
Points : 5

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

    Sample String : 'Hello Students, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 3
    No. of Lower case Characters : 34

Note: You can use tring methods **.isupper()** and **.islower()**

In [ ]:
def upper_lower(s):
    #Write code here!

In [ ]:
s = 'Hello Students, how are you this fine Tuesday?'
upper_lower(s)

## Question #4
Points : 5

Write a function to check if the given year is a leap year. A leap year is when a year has 366 days: An extra day, February 29th. The requirements for a given year to be a leap year are:

    1) The year must be divisible by 4

    2) If the year is a century year (1700, 1800, etc.), 
       the year must be evenly divisible by 400

Some example leap years are 1600, 1712, and 2016.

Funtion should takes in a year and determines whether that year is a leap year.

    Ex: If the input is: 1712
        the output is: 1712 is a leap year.

In [ ]:
#Define your function here
def leap_year(year):

## Question #5
Points : 2.5

**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
def multiply(numbers):  
   #Write code here

In [ ]:
multiply([1,2,3,-4])

-24

## Question #6
Points : 2.5

**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward.

    e.g., madam,kayak,racecar

    input : madam
    output: Given 'madam' is a palidrome.

In [ ]:
def palindrome(s):
     #Write code here!

In [ ]:
palindrome('helleh')

True

## Question #7
Points : 2.5


**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

In [ ]:
import string

def ispangram():
    #Write code here!

In [ ]:
ispangram("The quick brown fox jumps over the lazy dog")

True

## Question #8
Points : 5

Toll gates have different fees based on the time of day, weekdays/weekends. Write a function that has three parameters: the current hour of time (int), time is morning (boolean) and whether the day is a weekend(boolean). The function returns the correct toll fee (float), based on the chart below.

    Weekday Tolls

    Before 7:00 am ($1.15)
    7:00 am to 9:59 am ($2.95)
    10:00 am to 2:59 pm ($1.90)
    3:00 pm to 7:59 pm ($3.95)
    Starting 8:00 pm ($1.40)
    
    Weekend Tolls

    Before 7:00 am ($1.05)
    7:00 am to 7:59 pm ($2.15)
    Starting 8:00 pm ($1.10)

    input : toll_fee(8, True, False) 
    Output : $ 2.95

In [ ]:
#define your code here

def toll_fee(hour, morning,weekend):
  #write code here

In [ ]:
#call your function

fee = toll_fee(8, True, False)
print("The fee of the hour: ", fee)

*If you extend the program to add roud trip fee extra credit point 5 will be awarded.*

## Question #9
Points : 2.5

### Branching  staements
if - elif -  else

Given three values a, b, c, check which value is minimum and remove that value from other values. Write an algorithm.

        Ex: If the input is:
        a = 130
        b = 50
        c = 130
        The output is:
        a = 80
        b = 0 
        c = 80

## Question #10
Points : 5

26 - Write a program that takes in a year and determines whether that year is a leap year.

      Ex: If the input is:  1712
          the output is: 1712 - leap year

          Note : 1) The year must be divisible by 4
                  2) If the year is a century year (1700, 1800, etc.), the year must be evenly divisible by 400

## Question #11
Points : 5

### Loops

27 - Write a program that takes a simple password and makes it stronger by replacing certain characters as per list below and appending "!" to the end of the input string.

        i becomes 1
        a becomes @
        m becomes M
        B becomes 8
        s becomes $
        z becomes 2
        o becomes 0
        
        If the input is: mypassword
        the output is: Myp@$$w0rd!

## Question #12
Points : 2.5

28 - Write a program to get 10 multiples of anynumber given.

    Example: if Number = 5
    Output :5,10,15,20,25,30,35,40,45,50